.wrapper {
  margin: 0 auto;
  position: relative;
}

.wrapper.content {
  background: $white;
  overflow: hidden;
  padding: 0 20px 20px;
}

.well h1,
.well h2,
.well h3 {
  margin-top: 0;
}


@media (min-width: $screen-sm) {
  .wrapper {
    width: 940px;
  }
}
