.signin-body {
  background: $content-background;

  footer {
    background: $content-background;
  }
}

.return-link {
  display: none;
  left: 30px;
  position: absolute;
  top: 20px;
}

.signin-header {
  margin: 0 auto;
  margin-right: -145px;
  position: absolute;
  right: 50%;
  top: 0;
  width: 290px;
  z-index: -1;

  .automatic-logo {
    margin-top: 0;
  }

  .sms-title {
    height: 100px;
    padding-top: 25px;
  }
}

.signin-panel {
  box-shadow: 0 1px 2px 0 $box-shadow;
  display: block;
  margin: 70px auto 0;
  max-width: 600px;

  .border-top {
    border-top: 1px solid $lightish-grey;
    padding: 10px 20px;
  }

  .border-both {
    border-bottom: 1px solid $lightish-grey;
    border-top: 1px solid $lightish-grey;
    padding: 10px 20px;
  }
}

.signin-title {
  font-size: 24px;
  font-weight: normal;
  line-height: 32px;
  margin-top: 10px;
  text-align: center;
}

.signin-graphics {
  height: 46px;
  margin: 10px auto 30px;
  position: relative;
  width: 232px;

  .logo-badge-automatic {
    background: url("../images/logo_badge_automatic.png") 0 0 no-repeat;
    height: 39px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 36px;
  }

  .icon-integrations-arrows {
    background: url("../images/icon_integrations_arrows.png") 0 0 no-repeat;
    height: 46px;
    left: 59px;
    position: absolute;
    top: 0;
    width: 113px;
  }

  .logo-badge-sms {
    font-size: 49px;
    height: 39px;
    left: 195px;
    line-height: 49px;
    margin: -5px 0 0 5px;
    position: absolute;
    top: 3px;
    width: 39px;
  }
}

.signin-description {
  margin-bottom: 30px;
  text-align: center;
}

.signin-instructions {
  display: block;
  font-size: 18px;
}

.signin-number {
  border: $grey 1px solid;
  border-radius: 14px;
  display: inline-block;
  float: left;
  height: 28px;
  line-height: 28px;
  margin-top: 5px;
  text-align: center;
  width: 28px;
}

.signin-text {
  text-align: center;
}

.signin-btn {
  background: url("../images/auth_automatic-connect-28-sprite.svg") 0 0 no-repeat;
  background-size: 205px 64px;
  display: block;
  height: 32px;
  margin: 10px auto 0;
  text-indent: -9999px;
  width: 205px;

  &:hover,
  &:active {
    background-position: 0 -32px;
  }
}

.disabled,
.completed {
  .signin-number {
    border-color: $border;
  }

  .signin-instructions {
    color: $border;
  }
}

.completed .signin-btn {
  @extend .btn-green;
}

.signin-learnmore {
  margin: 50px 0 10px;
  text-align: center;
}

@media (min-width: 630px) {
  .return-link {
    display: block;
  }

  .signin-instructions {
    display: inline-block;
  }

  .signin-description {
    margin-bottom: 50px;
  }
}

@media (min-width: 580px) {
  .signin-body {
    overflow: hidden;
  }

  .signin-header {
    .sms-title {
      height: 100%;
      position: fixed;
    }
  }

  .signin-text {
    line-height: 40px;
  }

  .signin-btn {
    float: right;
    margin-top: 4px;
  }

  .signin-panel {
    margin-bottom: 100px;
    margin-top: 100px;

    .border-top {
      padding: 10px 40px;
    }

    .border-both {
      padding: 10px 40px;
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx) {
  .signin-graphics {
    .logo-badge-automatic {
      background-image: url("../images/logo_badge_automatic@2x.png");
      background-size: 36px 39px;
    }

    .icon-integrations-arrows {
      background-image: url("../images/icon_integrations_arrows@2x.png");
      background-size: 113px 46px;
    }
  }
}
