// Set fontawesome font path
$fa-font-path: "../dest/fonts";
@import "../../node_modules/font-awesome/scss/font-awesome";

// Set bootstrap font defaults
$font-family-sans-serif: "avenir next", avenir, helvetica, arial, sans-serif;
$icon-font-path: "../dest/fonts/";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "mixins";
@import "variables";
@import "base";
@import "layout";
@import "button";
@import "form";
@import "popover";
@import "header";
@import "signin";
@import "intro";
@import "rules";
@import "share";
